.ProfileContentDiv span {
  font-size: 18px;
  color: #707070;
}

.ProfileContentDiv > .data {
  margin-left: 20px;
}

.ProfileContentDiv > .ProfileStackContent {
  margin: 0;
  margin-left: 20px;
  width: 50%;
}

.ProfileContentDiv > .ProfileStackContent > .Stack1,
.Stack2,
.Stack3 {
  color: #f3b707;
}

/* 여기부터 MyPost */

.MyPostContent {
  padding: 10px 5px 10px 5px;
}

.CommentText {
  color: #5a5a5a;
  margin-top: 10px;
  margin-left: 5px;
}
